.root {
    -fx-font-size: 14pt;
    -fx-text-fill: black;
    -fx-background-color: lightgrey;
}

.button {
    -fx-border-color: rgba(0,0,0,0.0);
    -fx-border-width: 3px;
}

.button-pane .button {
    -fx-background-color: rgba(0,0,0,0.0);
    -fx-padding: 5px;
}

.button-pane .button:focused {
    -fx-border-color: darkgrey;
}

.board-view {
    -fx-background-color: darkgrey;
    -fx-hgap: 3px;
    -fx-vgap: 3px;
    -fx-pref-width: 300px;
    -fx-pref-height: 300px;
    -fx-max-width: 100000px;
    -fx-max-height: 100000px;
    -fx-alignment: center;
}

.tile {
    -fx-font-size: 16pt;
    -fx-pref-width: 1000px;
    -fx-pref-height: 1000px;
    -fx-max-width: 1000px;
    -fx-max-height: 1000px;
    -fx-background-color: white;
}

.tile:focused {
    -fx-border-color: lightblue;
}

.tile:hover {
    -fx-background-color: lightgrey;
}

.message-box {
    -fx-font-weight: bold;
    -fx-padding: 5px;
}

.dialog-pane {
    -fx-font-size: 14pt;
    -fx-background-color: lightgrey;
    -fx-text-fill: black;
}

.dialog-pane .grid-pane {
    -fx-hgap: 5px;
    -fx-vgap: 5px;
    -fx-padding: 5px;
}

.dialog-pane .button,
.dialog-pane .combo-box {
    -fx-background-color: white;
    -fx-border-color: rgba(0,0,0,0.0);
    -fx-border-width: 3px;
}

.dialog-pane .button:focused,
.dialog-pane .combo-box:focused {
    -fx-border-color: lightblue;
}