.root {
    -fx-font-size: 14pt;
    -fx-text-fill: black;
    -fx-background-color: lightgrey;
    -fx-hgap: 5px;
    -fx-vgap: 5px;
}

.button {
    -fx-border-color: rgba(0,0,0,0.0);
    -fx-border-width: 3px;
}

.button-pane .button {
    -fx-background-color: rgba(0,0,0,0.0);
}

.button-pane .button:focused {
    -fx-border-color: darkgrey;
}

.board-view {
    -fx-background-color: darkgrey;
    -fx-hgap: 0;
    -fx-vgap: 0;
    -fx-pref-width: 250px;
    -fx-pref-height: 250px;
    -fx-alignment: center;
}

.tile {
    -fx-font-size: 16pt;
    -fx-min-width: 3em;
    -fx-min-height: 3em;
    -fx-background-color: white;
}

.tile:focused {
    -fx-border-color: lightblue;
}

.tile:hover {
    -fx-background-color: lightgrey;
}

.message-box {
    -fx-font-weight: bold;
}